In [61]:
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import mode

In [119]:
train=pd.read_csv("train.csv")

In [149]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [120]:
train.drop(["Name","Ticket","Cabin"],axis=1,inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [123]:
med_age=train.Age.median()
train.Age=train.Age.fillna(med_age)
train.Embarked=train.Embarked.fillna(train.Embarked.mode())
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [142]:
a = []
for i in range(1,len(train['Fare'])):
    a.append(train['Embarked'][i])

In [144]:
mode(a)

C:\Users\Archit Umrao\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

ModeResult(mode=array(['S'],
      dtype='<U3'), count=array([643]))

In [156]:
mode(train.Embarked.tolist())[0][0]

C:\Users\Archit Umrao\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

'S'

In [132]:
# mode_em=mode(train["Embarked"])
au=["a","a","b","c","a","a"]
mode(au)[0][0]

C:\Users\Archit Umrao\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

'a'

In [82]:
train.Embarked.value_counts()
train.Embarked=train.Embarked.fillna("S")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [83]:
train["Gender"]=train.Sex.map({"male":1,"female":0})
train["Port"]=train.Embarked.map({"S":1,"C":2,"Q":3})
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
Gender         891 non-null int64
Port           891 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 76.6+ KB

In [85]:
train.drop(["Sex","Embarked"],axis=1,inplace=True)

ValueError: labels ['Sex' 'Embarked'] not contained in axis

In [87]:
cols=train.columns.tolist()
cols = cols[1:2] + cols[0:1] + cols[2:]
train=train[cols]

In [88]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived       891 non-null int64
PassengerId    891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Gender         891 non-null int64
Port           891 non-null int64
dtypes: float64(2), int64(7)
memory usage: 62.7 KB

In [89]:
train_data=train.values

In [90]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)

In [91]:
model=model.fit(train_data[:,2:],train_data[:,0])

In [92]:
test=pd.read_csv("test.csv")

In [93]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [94]:
test.drop(["Name","Ticket","Cabin"],axis=1,inplace=True)

In [98]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [97]:
test.Age=test.Age.fillna(med_age)

In [177]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [174]:
mean_fare0=test.pivot_table(index="Pclass",values="Fare")
mean_fare0

Pclass
1    94.280297
2    22.202104
3    12.459678
Name: Fare, dtype: float64

In [179]:
test.Fare=test[["Fare","Pclass"]].apply(lambda row: mean_fare[row["Pclass"]] if pd.isnull(row["Fare"]) else row["Fare"],axis=1)

In [180]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [181]:
test["Gender"]=test.Sex.map({"male":1,"female":0})
test["Port"]=test.Embarked.map({"S":1,"C":2,"Q":3})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null object
Gender         418 non-null int64
Port           418 non-null int64
dtypes: float64(2), int64(6), object(2)
memory usage: 32.7+ KB

In [182]:
test.drop(["Sex","Embarked"],axis=1,inplace=True)

In [183]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Gender         418 non-null int64
Port           418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [184]:
test_data=test.values

In [185]:
output=model.predict(test_data[:,1:])

In [193]:
result=np.c_[test_data[:,0].astype(int),output.astype(int)]

In [194]:
result_df=pd.DataFrame(result[:,0:2],columns=["Passenger_id","Survived"])

In [196]:
result_df.to_csv("result1.csv")

In [198]:
result_df.shape

(418, 2)