In [118]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

In [23]:
df=pd.read_csv("train.csv")

In [24]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [26]:
df.drop(["Name","Ticket","Cabin"],axis=1,inplace= True)

In [27]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [28]:
df.dropna(inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null object
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [31]:
df.Sex.value_counts()

male      453
female    259
Name: Sex, dtype: int64

In [32]:
df["Gender"]=df.Sex.map({"male":1,"female":0})

In [33]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Gender
0,1,0,3,male,22.0,1,0,7.2500,S,1
1,2,1,1,female,38.0,1,0,71.2833,C,0
2,3,1,3,female,26.0,0,0,7.9250,S,0
3,4,1,1,female,35.0,1,0,53.1000,S,0
4,5,0,3,male,35.0,0,0,8.0500,S,1

In [34]:
df.Embarked.value_counts()

S    554
C    130
Q     28
Name: Embarked, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null object
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null object
Gender         712 non-null int64
Port           712 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 66.8+ KB

In [36]:
df["Port"]=df.Embarked.map({"S":1,"C":2,"Q":3})

In [39]:
df.drop(["Sex","Embarked"],axis=1,inplace=True)

ValueError: labels ['Sex' 'Embarked'] not contained in axis

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Gender         712 non-null int64
Port           712 non-null int64
dtypes: float64(2), int64(7)
memory usage: 55.6 KB

In [79]:
cols=df.columns.tolist()
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Gender  Port
0            1         0       3  22.0      1      0   7.2500       1     1
1            2         1       1  38.0      1      0  71.2833       0     2
2            3         1       3  26.0      0      0   7.9250       0     1
3            4         1       1  35.0      1      0  53.1000       0     1
4            5         0       3  35.0      0      0   8.0500       1     1

In [80]:
cols = cols[1:2] + cols[0:1] + cols[2:]

In [83]:
df=df[cols]
df.head()

   Survived  PassengerId  Pclass   Age  SibSp  Parch     Fare  Gender  Port
0         0            1       3  22.0      1      0   7.2500       1     1
1         1            2       1  38.0      1      0  71.2833       0     2
2         1            3       3  26.0      0      0   7.9250       0     1
3         1            4       1  35.0      1      0  53.1000       0     1
4         0            5       3  35.0      0      0   8.0500       1     1

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
Survived       712 non-null int64
PassengerId    712 non-null int64
Pclass         712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Gender         712 non-null int64
Port           712 non-null int64
dtypes: float64(2), int64(7)
memory usage: 55.6 KB

In [86]:
train_data=df.values

In [87]:
train_data

array([[   0.    ,    1.    ,    3.    , ...,    7.25  ,    1.    ,    1.    ],
       [   1.    ,    2.    ,    1.    , ...,   71.2833,    0.    ,    2.    ],
       [   1.    ,    3.    ,    3.    , ...,    7.925 ,    0.    ,    1.    ],
       ...,
       [   1.    ,  888.    ,    1.    , ...,   30.    ,    0.    ,    1.    ],
       [   1.    ,  890.    ,    1.    , ...,   30.    ,    1.    ,    2.    ],
       [   0.    ,  891.    ,    3.    , ...,    7.75  ,    1.    ,    3.    ]])

In [90]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)

In [93]:
model=model.fit(train_data[:,2:],train_data[:,0])

In [94]:
test=pd.read_csv("test.csv")

In [95]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [97]:
test.drop(["Name","Ticket","Cabin"],axis=1,inplace=True)

In [98]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [108]:
test.dropna(inplace=True)
test["Gender"]=test.Sex.map({"male":1,"female":0})
test["Port"]=test.Embarked.map({"S":1,"C":2,"Q":3})
test.drop(["Sex","Embarked"],axis=1, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [121]:
test.info()
test_data=test.values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 8 columns):
PassengerId    331 non-null int64
Pclass         331 non-null int64
Age            331 non-null float64
SibSp          331 non-null int64
Parch          331 non-null int64
Fare           331 non-null float64
Gender         331 non-null int64
Port           331 non-null int64
dtypes: float64(2), int64(6)
memory usage: 23.3 KB

In [122]:
output=model.predict(test_data[:,1:])

In [113]:
output

array([ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,
        1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,
        0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,
        0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,
        1.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,
        1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
        1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,
        1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,
        0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,
        0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,
        1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,
        0.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,
        1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        1.,  1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
        0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,
        1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  1.,  1.,  0.,  1.,  0.])

In [127]:
result=np.c_[test_data[:,0].astype(int),output.astype(int)]
result

array([[ 892,    0],
       [ 893,    0],
       [ 894,    0],
       [ 895,    1],
       [ 896,    0],
       [ 897,    0],
       [ 898,    0],
       [ 899,    0],
       [ 900,    1],
       [ 901,    0],
       [ 903,    0],
       [ 904,    1],
       [ 905,    0],
       [ 906,    1],
       [ 907,    1],
       [ 908,    0],
       [ 909,    1],
       [ 910,    0],
       [ 911,    0],
       [ 912,    1],
       [ 913,    0],
       [ 915,    1],
       [ 916,    1],
       [ 917,    0],
       [ 918,    1],
       [ 919,    1],
       [ 920,    0],
       [ 922,    0],
       [ 923,    0],
       [ 924,    1],
       [ 926,    1],
       [ 927,    1],
       [ 929,    0],
       [ 930,    0],
       [ 932,    0],
       [ 934,    0],
       [ 935,    1],
       [ 936,    1],
       [ 937,    0],
       [ 938,    0],
       [ 940,    1],
       [ 941,    1],
       [ 942,    1],
       [ 943,    0],
       [ 944,    1],
       [ 945,    1],
       [ 947,    0],
       [ 948,    0],
       [ 949,    0],
       [ 951,    1],
       [ 952,    0],
       [ 953,    0],
       [ 954,    0],
       [ 955,    1],
       [ 956,    1],
       [ 958,    1],
       [ 959,    0],
       [ 960,    0],
       [ 961,    1],
       [ 962,    1],
       [ 963,    0],
       [ 964,    0],
       [ 965,    0],
       [ 966,    1],
       [ 967,    0],
       [ 969,    1],
       [ 970,    0],
       [ 971,    1],
       [ 972,    1],
       [ 973,    0],
       [ 974,    0],
       [ 978,    1],
       [ 979,    0],
       [ 981,    1],
       [ 982,    0],
       [ 984,    1],
       [ 986,    1],
       [ 987,    0],
       [ 988,    1],
       [ 989,    0],
       [ 990,    0],
       [ 991,    0],
       [ 992,    1],
       [ 993,    0],
       [ 995,    0],
       [ 996,    0],
       [ 997,    0],
       [ 998,    0],
       [1001,    0],
       [1002,    0],
       [1004,    1],
       [1005,    1],
       [1006,    1],
       [1007,    0],
       [1009,    1],
       [1010,    1],
       [1011,    1],
       [1012,    1],
       [1014,    1],
       [1015,    0],
       [1017,    1],
       [1018,    0],
       [1020,    0],
       [1021,    0],
       [1022,    1],
       [1023,    0],
       [1026,    0],
       [1027,    0],
       [1028,    0],
       [1029,    0],
       [1030,    0],
       [1031,    0],
       [1032,    0],
       [1033,    1],
       [1034,    0],
       [1035,    0],
       [1036,    1],
       [1037,    0],
       [1039,    0],
       [1041,    0],
       [1042,    1],
       [1045,    1],
       [1046,    0],
       [1047,    0],
       [1048,    1],
       [1049,    0],
       [1050,    1],
       [1051,    1],
       [1053,    1],
       [1054,    1],
       [1056,    0],
       [1057,    0],
       [1058,    0],
       [1059,    0],
       [1061,    0],
       [1063,    0],
       [1064,    0],
       [1066,    0],
       [1067,    1],
       [1068,    1],
       [1069,    1],
       [1070,    1],
       [1071,    1],
       [1072,    0],
       [1073,    0],
       [1074,    1],
       [1076,    1],
       [1077,    0],
       [1078,    1],
       [1079,    0],
       [1081,    0],
       [1082,    0],
       [1084,    1],
       [1085,    0],
       [1086,    1],
       [1087,    0],
       [1088,    1],
       [1089,    0],
       [1090,    0],
       [1093,    1],
       [1094,    0],
       [1095,    1],
       [1096,    0],
       [1098,    0],
       [1099,    0],
       [1100,    1],
       [1101,    0],
       [1102,    0],
       [1104,    0],
       [1105,    0],
       [1106,    1],
       [1107,    0],
       [1109,    0],
       [1110,    1],
       [1112,    1],
       [1113,    0],
       [1114,    1],
       [1115,    1],
       [1116,    1],
       [1118,    0],
       [1120,    0],
       [1121,    0],
       [1122,    0],
       [1123,    1],
       [1124,    0],
       [1126,    1],
       [1127,    0],
       [1128,    1],
       [1129,    1],
       [1130,    1],
       [1131,    1],
       [1132,    1],
       [1133,    1],
       [1134,    0],
       [1137,    0],
       [1138,    1],
       [1139,    0],
       [1140,    1],
       [1142,    1],
       [1143,    0],
       [1144,    0],
       [1145,    0],
       [1146,    0],
       [1149,    0],
       [1150,    1],
       [1151,    0],
       [1152,    0],
       [1153,    0],
       [1154,    1],
       [1155,    1],
       [1156,    0],
       [1161,    0],
       [1162,    0],
       [1164,    1],
       [1167,    1],
       [1168,    0],
       [1169,    0],
       [1170,    0],
       [1171,    0],
       [1172,    0],
       [1173,    1],
       [1175,    0],
       [1176,    1],
       [1177,    0],
       [1179,    0],
       [1183,    0],
       [1185,    0],
       [1186,    0],
       [1187,    0],
       [1188,    1],
       [1190,    0],
       [1191,    0],
       [1192,    0],
       [1194,    0],
       [1195,    0],
       [1197,    1],
       [1198,    1],
       [1199,    1],
       [1200,    0],
       [1201,    0],
       [1202,    0],
       [1203,    1],
       [1205,    0],
       [1206,    1],
       [1207,    1],
       [1208,    0],
       [1209,    0],
       [1210,    0],
       [1211,    0],
       [1212,    0],
       [1213,    0],
       [1214,    0],
       [1215,    1],
       [1216,    1],
       [1217,    0],
       [1218,    1],
       [1219,    0],
       [1220,    0],
       [1221,    0],
       [1222,    1],
       [1223,    0],
       [1225,    0],
       [1226,    0],
       [1227,    0],
       [1228,    1],
       [1229,    0],
       [1230,    0],
       [1232,    0],
       [1233,    0],
       [1235,    1],
       [1237,    1],
       [1238,    0],
       [1239,    0],
       [1240,    0],
       [1241,    1],
       [1242,    1],
       [1243,    0],
       [1244,    0],
       [1245,    0],
       [1246,    1],
       [1247,    0],
       [1248,    1],
       [1251,    0],
       [1252,    0],
       [1253,    1],
       [1254,    1],
       [1255,    1],
       [1256,    1],
       [1259,    0],
       [1260,    1],
       [1261,    0],
       [1262,    0],
       [1263,    1],
       [1264,    0],
       [1265,    0],
       [1266,    1],
       [1267,    1],
       [1268,    0],
       [1269,    0],
       [1270,    0],
       [1271,    0],
       [1273,    0],
       [1275,    0],
       [1277,    1],
       [1278,    0],
       [1279,    0],
       [1280,    0],
       [1281,    0],
       [1282,    0],
       [1283,    1],
       [1284,    0],
       [1285,    0],
       [1286,    0],
       [1287,    1],
       [1288,    0],
       [1289,    1],
       [1290,    0],
       [1291,    0],
       [1292,    1],
       [1293,    0],
       [1294,    1],
       [1295,    0],
       [1296,    0],
       [1297,    0],
       [1298,    0],
       [1299,    0],
       [1301,    1],
       [1303,    1],
       [1304,    0],
       [1306,    1],
       [1307,    0]])

In [129]:
result_df= DataFrame(result[:,0:2],columns=["Passenger_id","Survived"])
result_df.head()

   Passenger_id  Survived
0           892         0
1           893         0
2           894         0
3           895         1
4           896         0

In [131]:
result_df.shape

(331, 2)

In [132]:
result_df.to_csv("Result.csv",index=False)